.site-about {
  max-width: 640px;
  margin: 0 auto;
  padding: 25px 20px 50px;
  text-align: center;
  .authors-intro {
    @include flexbox();
    @include align-items();
    @include justify-content();
    gap: 30px;
    img {
      @include flex(0, 0, auto);
      border-radius: 50%;
    }
    svg {
      @include flex(0, 0, auto);
      fill: currentColor;
      color: var(--grey-ddd);
    }
  }
  .authors-copy {
    margin: 35px 0 0;
  }
}
