.site-footer { padding: 50px 20px; font-size: 16px; line-height: 22px; color: var(--grey-aaa); text-align: center;
    ul { @include flexbox(); @include justify-content(); @include flex-flow(row wrap); gap: 10px; list-style: none; margin: 0 0 20px; padding: 0;
        li { 
            a, span { @include flexbox(); @include align-items(); @include justify-content(); padding: 10px; @include transition(opacity .15s ease); color: var(--grey-fa); background: var(--grey-222); border-radius: 50%; cursor: pointer;
                &:hover { opacity: .7; }
                svg { fill: currentColor; }
            }
        }
    }
    p { margin: 0; }
}